ytd-toggle-button-renderer #text:not([data-likes-percentage=""]) {
	min-width: 36px;
	padding-bottom: 12px;
	position: relative;
}
ytd-toggle-button-renderer #text:not([data-likes-percentage=""])::after {
	content: attr(data-likes-percentage);
	position: absolute;
	top: 16px;
	left: 0;
}